match /product_glb_file_images/{productId}/{productGlbFileId}/{productGlbFileImageName} {
  allow read: if isAuthenticated();
  allow read, write: if isAdmin();
}

match /product_glb_files/{productId}/{productGlbFileName} {
  allow read, write: if isAdmin();
}

match /product_images/{productId}/{productImageName} {
  allow read: if isAuthenticated();
  allow read, write: if isAdmin();
}
